@page "/verifiser-epost"
@inject NavigationManager _navigationManager
@inject AppState _appState
@inject AuthenticateUserService _authenticationService
@inject CompanyUserService _companyUserService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject AuthStateProviderService _customAuthenticationStateprovider
@inject Auth0Service _auth0Service
@inject SessionService _sessionService
@inject CompanyUserService _companyUserService
@inject UserService _userService
@using System.Data.SqlTypes

@layout NoFooterOrNavBar


@if (isInitialized)
{
    <MudContainer Style="justify-content: start; display: flex; flex-direction: column; margin-top: 126px; max-width: 716px;">
        <MudText Style="text-align: start; text-decoration: underline;"><span @onclick="() => RedirectToRegister()" style="cursor: pointer; display: flex; align-content: center; gap: 6px; width: fit-content;"><MudIcon Icon="@Icons.Material.Filled.ArrowBack"></MudIcon> Gå tilbake</span></MudText>
        <MudPaper Elevation="2" Style="padding: 12px; padding-bottom: 46px;">
            <MudForm @ref="form">
                <MudText Typo="Typo.h4" Style="font-weight: 480; margin-bottom: 24px;">Verifiser e-post</MudText>
                @if (companyUser != null)
                {
                    @*
            <MudBlazor.MudTextField @bind-Value="companyUser.Email" Variant="Variant.Outlined"></MudBlazor.MudTextField>
            *@
                    <MudTextField @bind-Value="email" T="string" Label="E-post" Variant="Variant.Outlined">Example@example.com</MudTextField>
                }
                else
                {
                    @*
            <MudBlazor.MudTextField @bind-Value="user.Email" Variant="Variant.Outlined"></MudBlazor.MudTextField>
            *@
                    <MudTextField @bind-Value="email" T="string" Label="E-post" Variant="Variant.Outlined"></MudTextField>
                }
                <MudTextField Style="" @bind-Value="userCode" Validation="@codeValidator.Validation" Variant="Variant.Outlined" Label="Koden som er sendt til deg via e-post"></MudTextField>
                <MudButton Style="margin-top: 24px;" Color="Color.Primary" Variant="Variant.Outlined">@sendCodeButtonText</MudButton>
                <MudButton Style="margin-top: 24px;" OnClick="VerifyUserEmailCode" Color="Color.Primary" Variant="Variant.Outlined">Verifiser</MudButton>
            </MudForm>
        </MudPaper>
    </MudContainer>
}


@code {
    CompanyUser companyUser;
    User user;
    private bool isInitialized = false;
    [Required(ErrorMessage = "Kodefeltet er påkrevd")]
    [Length(4, 4, ErrorMessage = "Koden må være 4 siffer")]
    private int userCode;
    private string email = "example@example.com";
    MudForm form;
    private string sendCodeButtonText = "60";
    private Timer _timer;

    private readonly UserServiceSignup _userServiceSignup = new UserServiceSignup();

    protected override async Task OnInitializedAsync()
    {
        if (_appState.CompanyUserBeforeVerified != null)
        {
            companyUser = _appState.CompanyUserBeforeVerified;
        }
        else
        {
            user = _appState.UserBeforeEmailVerified;
        }
        isInitialized = true;
        Snackbar.Add("En e-post med en kode har blitt sendt til deg", MudBlazor.Severity.Success);
        await CountDown();
        _timer = new Timer(OnTimerCallback, null, TimeSpan.Zero, TimeSpan.FromMinutes(1));
    }


    FluentValueValidator<int> codeValidator = new FluentValueValidator<int>(x =>
     x.InclusiveBetween(1000, 9999).WithMessage("Koden må være 4 siffer"));
    FluentValueValidator<string> emailValidator = new FluentValueValidator<string>(x => x
    .EmailAddress());

    private async Task VerifyUserEmailCode()
    {
        if (userCode.ToString().Length == 4)
        {
            if (companyUser != null)
            {
                try
                {
                    await _authenticationService.VerifyEmailVerificationCode(companyUser.Email, userCode);
                }
                catch (BadRequestException)
                {
                    Snackbar.Add("Koden du har skrevet inn er feil", MudBlazor.Severity.Error);
                }
                catch (KeyNotFoundException)
                {
                    // No codes with the following email were found
                    Snackbar.Add("Noe gikk galt, vennligst send en ny kode", MudBlazor.Severity.Error);
                }
                catch (InvalidOperationException)
                {
                    Snackbar.Add("Koden har utløpt, vennligst send en ny en", MudBlazor.Severity.Error);
                }
                catch (Exception e)
                {
                    Snackbar.Add("Noe gikk galt, vennligst prøv igjen", MudBlazor.Severity.Error);
                }
                try
                {
                    string id = await _companyUserService.CreateCompanyUserAsync(companyUser);
                    await _authenticationStateProvider.GetAuthenticationStateAsync();
                    StateHasChanged();
                    _appState.NotifyStateChanged();
                    _navigationManager.NavigateTo($"/user/{id}");
                }
                catch (KeyNotFoundException e)
                {
                    Snackbar.Add("Det er ingen norske registrerte firmaer med denne informasjonen", MudBlazor.Severity.Error);
                }
                catch (SqlAlreadyFilledException e)
                {
                    Snackbar.Add("Det er allerede registrert en bruker med denne informasjonen", MudBlazor.Severity.Error);
                }
                catch (Exception e)
                {
                    Console.WriteLine(e);
                    Snackbar.Add($"Noe gikk galt, prøv på nytt senere", MudBlazor.Severity.Error);
                }
            }
        }
        else
        {
            Snackbar.Add("Koden du har skrevet inn er ugyldig", MudBlazor.Severity.Error);
        }
    }

    private void OnTimerCallback(object? state)
    {
        CheckEmailVerifiedStatus();
    }

    private async Task CheckEmailVerifiedStatus()
    {
        try
        {
            var user = await _customAuthenticationStateprovider.GetUser();
            LagerhotellAPI.Models.DbModels.Auth0.UserAuth0 auth0User;
            bool companyUser = false;
            if (user.User.FirstName != null)
            {
                auth0User = await _auth0Service.GetAuth0UserbyAuth0Id(user.User.Auth0Id);
            } else
            {
                auth0User = await _auth0Service.GetAuth0UserbyAuth0Id(user.CompanyUser.Auth0Id);
                companyUser = true;

            }
            if (auth0User.EmailVerified)
            {
                if (!companyUser)
                {
                    User updatedUser = new User(user.User.Id, user.User.FirstName, user.User.LastName, user.User.PhoneNumber, user.User.BirthDate, user.User.Address, user.User.Password, user.User.IsAdministrator, user.User.Email, true, user.User.Auth0Id);
                    await _userService.UpdateUser(updatedUser);
                }
                else
                {
                    CompanyUser updatedCompanyUser = new CompanyUser(user.CompanyUser.CompanyUserId, user.CompanyUser.FirstName, user.CompanyUser.LastName, user.CompanyUser.Name, user.CompanyUser.CompanyNumber, user.CompanyUser.Email, user.CompanyUser.PhoneNumber, user.CompanyUser.Address, user.CompanyUser.Password, true, user.CompanyUser.Auth0Id);
                    await _companyUserService.UpdateCompanyUserAsync(updatedCompanyUser);
                }
                _navigationManager.NavigateTo($"user/{user.User.Id}");
            }
        } catch (HttpRequestException e)
        {
            if (e.Message.Contains("401"))
            {
                Snackbar.Add("Du er ikke autentisert, vennligst logg inn på nytt", MudBlazor.Severity.Error);
                await _sessionService.RemoveItemAsync("access_token");
                _navigationManager.NavigateTo("/logg-inn");
            } else if (e.Message.Contains("404"))
            {
                Snackbar.Add("Noe gikk galt, vennligst prøv igjen", MudBlazor.Severity.Error);
            } else
            {
                Snackbar.Add("Noe gikk galt, vennligst prøv igjen", MudBlazor.Severity.Error);
            }
        }
    }

    public async Task CountDown()
    {
        int time = 60;
        while (time > 0)
        {
            sendCodeButtonText = time.ToString();
            time--;
            await Task.Delay(1000);
            StateHasChanged();
        }
        sendCodeButtonText = "Send kode på nytt";
        StateHasChanged();
    }

    private void RedirectToRegister()
    {
        _navigationManager.NavigateTo("/registrer-deg");
    }
}
