<div style="text-align: center; max-width: 600px; margin: 40px auto; padding: 20px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <MudText Typo="Typo.h5" GutterBottom style="color: #333;">Du er allerede logget inn</MudText>
     <MudText style="color: #555;">Velkommen tilbake! Du kan fortsette å bruke appen, eller logge ut om du ønsker det.</MudText>
     <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@LogOutUser" Style="margin-top: 20px;">Logg ut</MudButton>
 </div>

 @inject SessionService sessionService
 @inject NavigationManager navigationManager

 @code {
    public async Task? LogOutUser()
    {
        sessionService.RemoveItemAsync("jwtToken");
        navigationManager.NavigateTo("/home");

    }
}
