@inject UserService _userService

<MudDialog>
    <TitleContent>
        <h3 class="m-0">Slett bruker</h3>
    </TitleContent>
    <DialogContent>
        <p>Er du sikker på at du vil slette brukeren med navn: @User.FirstName @User.LastName ?</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Submit">Ja</MudButton>
        <MudButton OnClick="@Cancel">Nei</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance Dialog { get; set; }
    [Parameter]
    public User User { get; set; }

    private async Task Submit()
    {
        try
        {
            await _userService.DeleteUser(User.Id);
            Snackbar.Add("Bruker slettet", MudBlazor.Severity.Success);
        }
        catch (InvalidOperationException e)
        {
            Snackbar.Add("Brukeren er allerede slettet", MudBlazor.Severity.Warning);
        }
        catch (KeyNotFoundException e)
        {
            Snackbar.Add("Fant ikke brukeren, prøv på nytt senere", MudBlazor.Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add("En feil oppstod under sletting av brukeren", MudBlazor.Severity.Error);
            Console.WriteLine($"An error occurred while deleting the user: {e}");
        }
        Dialog.Close(DialogResult.Ok(true));
    }

    private async Task Cancel() => Dialog.Cancel();
}
