<MudItem xs="12">
    <MudPaper Square="true" Style="width: 100%; padding: 16px;">
        <MudText Typo="Typo.h6">Ordrebekreftelse</MudText>
        <MudText Typo="Typo.body1">Her er en oversikt over din bestilling. Vennligst bekreft at alt stemmer før du fullfører bestillingen.</MudText>
        <MudSimpleTable Style="overflow-x: auto; margin-top: 8px;">
            <tbody>
                <tr>
                    <td><MudText Typo="Typo.body1">Avdeling</MudText></td>
                    <td><MudText Style="font-weight: 450" Typo="Typo.body1">@RelevantWarehouseHotel.Name</MudText></td>
                </tr>
                 <tr>
                    <td><MudText Typo="Typo.body1">Størrelse</MudText></td>
                    <td><MudText Style="font-weight: 450" Typo="Typo.body1">@RelevantStorageUnit.Dimensions.Area M2</MudText></td>
                </tr>
                 <tr>
                    <td><MudText Typo="Typo.body1">Volum</MudText></td>
                        <td><MudText Style="font-weight: 450" Typo="Typo.body1">@RelevantStorageUnit.Dimensions.Volume M3</MudText></td>
                </tr>
                 <tr>
                    <td><MudText Typo="Typo.body1">Temperert</MudText></td>
                    @if (RelevantStorageUnit.Temperated)
                    {
                        <td><MudText Style="font-weight: 450" Typo="Typo.body1">Ja</MudText></td>
                    }
                    else
                    {
                        <td><MudText Style="font-weight: 450" Typo="Typo.body1">Nei</MudText></td>
                    }
                </tr>
                 <tr>
                    <td><MudText Typo="Typo.body1">Innflyttingsdato</MudText></td>
                        <td><MudText Style="font-weight: 450" Typo="Typo.body1">@RelevantOrder.OrderPeriod.OrderDate.Value.Date.Date.ToShortDateString()</MudText></td>
                </tr>
                    <tr>
                        <td><MudText Typo="Typo.body1">Avtaletype</MudText></td>
                        <td><MudText Style="font-weight: 450" Typo="Typo.body1">Månedlig</MudText></td>
                    </tr>
            </tbody>
        </MudSimpleTable>
    </MudPaper>
</MudItem>

@code {
    [Parameter]
    public StorageUnit RelevantStorageUnit { get; set; } = new();
    [Parameter]
    public LagerhotellAPI.Models.DomainModels.Order RelevantOrder { get; set; } = new();
    [Parameter]
    public WarehouseHotel RelevantWarehouseHotel { get; set; } = new();
}
