@page "/success-login";


<MudGrid>
    <MudItem xs="12">
        <h2>Takk for at du registrerte deg hos oss!</h2>
    </MudItem>
    <MudItem xs="12">
        <MudText Class="SL-inline">Logg inn her,</MudText>
        <MudButton Href="/log-in" Class="SL-small-button" Variant="Variant.Filled" Color="Color.Primary">Logg inn</MudButton>
    </MudItem>
</MudGrid>

@code {

}
